range for(0,20)

In [32]:
for abc in range(0,20):
    print(abc)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

range (10,20) output print horizontal line

In [33]:
for abc in range (10,20):
    print(abc,end=",")

10,11,12,13,14,15,16,17,18,19,

using len function [10,20,14,55,43,87,76]

In [39]:
a=[10,20,14,55,43,87,76]
print(a)
print("number of item in the list=",len(a))

[10, 20, 14, 55, 43, 87, 76]
number of item in the list= 7

AI fullform print in vertical line

In [1]:
future="Artifical Intelligence"
for xyz in future :
    print(xyz)

A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

print different way

In [4]:
abc=["-Your Name-","-Your Age-","-Your Profession-"]
for xyz in abc:

    print(xyz)

-Your Name-
-Your Age-
-Your Profession-

tuples

In [11]:
a=(1,"Welcome",2,"Hope")
print(a)

(1, 'Welcome', 2, 'Hope')

In [2]:
Tuple1=(0,1,2,3)
print(Tuple1,("python","HOPE"))

(0, 1, 2, 3) ('python', 'HOPE')

print odd num

In [4]:
num=(20,10,16,19,25,1,276,188)
for xyz in num:
    if(xyz%2==1):
        print(xyz,"is odd ")

19 is odd
25 is odd
1 is odd

print even number in LIST is ODD

In [6]:
a=(20,10,16,19,25,1,276,188)
for z in a:
    if (z%2==0):
        print(z,"is odd")

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd